@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
} 

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/*menu style*/

#menu {
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 75px;
    float: right;
    
    
}

#menu li {
    list-style-type: none;
    margin-right: 15px;
    float: left;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
    border-left-style: double;
    border-left-color: #9c1b1b;
    padding-left: 5px;
}

#menu a:hover {
    border-bottom: 4px solid #9c1b1b;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/*hero video and hero image*/

#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#hero-outer::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgb(234, 147, 147, 0.4);
}

#hero-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

#hero-outer .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background: url(../texture/texture.png);
}

#hero-outer2 {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-outer2 .hero-image {
    width: 100%;
    height: 500px;
    position: relative;
    background: url('../images/hero-image.jpg') center center no-repeat;
}


/* hero image animation*/

#hero-outer2 .hero-image {
    height: 500px;
    background: linear-gradient(45deg, rgba(255,175,189,.5), rgba(100,216,243,.5), rgba(234,236,198,.5), rgba(245,146,176,.5), rgba(52,219,216,.5)) 0 0 / 600% no-repeat, url('../images/hero-image.jpg') 0 0 / cover no-repeat;
    animation: gradientAnimation 40s ease infinite;
  }
  @keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    50%  { background-position: 100% 70%, 0 0;}
    100% { background-position: 0% 30%, 0 0;}
  }

/*hero-video overlay text style*/

.invitation {
    position: relative;
    z-index: 20;
    color: white;
}

#hero-video .invitation {
    width: 20%;
    margin: 2%;
    padding-top: 100px;
    
}

#hero-video h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
}

#hero-video h3 {
    font-family: 'Roboto', cursive;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 1rem;
    margin: 0;
}


/* did-you-know?  style*/

#did-you-know {
    height: 600px;
}

#facts-text {
  width: 100%;
  float: right;
  overflow: auto;
  height: 500px;
}

hr {
  border-top: 4px solid #9c1b1b;
  width: 100%;
  margin-left: 20px;
}

.facts-text-heading {
    width: 95%;
    clear: both;
    float: left;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#facts {
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}

.facts-text-heading h2 {
    text-align: left;
    padding-bottom: 7px;
    letter-spacing: 1px;
}

.facts-text-heading h3 {
    text-align: center;
    font-size: 200%;
}

.facts-text-heading p {
    text-align: left;
    padding-bottom: 7px;
}

#facts-text i {
    float: right;
    padding-right: 20px;
    font-size: 40px;
    color: #9c1b1b;
}

/* footer style*/

footer {
    height: 50px;
}

.social-network {
    text-align: center;
}

.social-network > li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    color: #9c1b1b; 
}

footer p {
    text-align: center;
    padding-top: 20px;
    color: inherit;
    font-family: 'Raleway', sans-serif;
  
}



/* media querie home page */

@media screen and (max-width: 768px) {
  
    #hero-video .invitation {
        padding-top: 50px;
    }

    #hero-video h2 {
        font-size: 1.25em;
    }

    #hero-video h3 {
        line-height: 25px;
        font-size: 0.90rem;
    }


}

@media screen and (max-width: 425px) {

    #hero-video .invitation {
        width: 100%;
    }

    #hero-video h2 {
        font-size: 1.25em;
    }

    #hero-video h3 {
        line-height: 25px;
        font-size: 0.90rem;
    }
}

@media screen and (max-width: 375px) {

    #hero-video .invitation {
        width: 100%;
    }

    #hero-video h2 {
        font-size: 1em;
        padding-left: 5px;
    }

    #hero-video h3 {
        line-height: 25px;
        font-size: 0.90rem;
        padding-left: 5px;
    }
}

