@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
} 

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#menu {
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 75px;
    float: right;
    
    
}

#menu li {
    list-style-type: none;
    margin-right: 15px;
    float: left;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
    border-left-style: double;
    border-left-color: #9c1b1b;
    padding-left: 5px;
}

#menu a:hover {
    border-bottom: 4px solid #9c1b1b;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

#hero-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

.invitation {
    position: relative;
    z-index: 20;
    color: rgba(248, 213, 213, 0.8);
}

#hero-video .invitation {
    width: 20%;
    margin: 2%;
    
}

#hero-video h3 {
    font-family: 'Roboto', cursive;
    letter-spacing: 1px;
    line-height: 25px;
}



/* footer */

footer {
    height: 50px;
}

.social-network {
    text-align: center;
}

.social-network > li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    color: #9c1b1b; 
}

footer p {
    text-align: center;
    padding-top: 20px;
    color: inherit;
    font-family: 'Raleway', sans-serif;
  
}